<nav class="navbar navbar-inverse" role="banner">
  <div class="navbar-header">
    <a class="navbar-brand"> <%= image_tag "logo.png"  %></a>
  </div>
  <div class="collapse navbar-collapse navbar-right">
    <ul class="nav navbar-nav">
       <% if user_signed_in? %>   
         <li><%= link_to "#{current_user.username}", current_user, class: "active" %></li>
         <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "active" %></li>
       <% else %>
         <li><%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
         <li><%= link_to "Sign In", new_user_session_path, class: "active" %></li>
       <% end %>
      </li>
      <li><a href="beers.html">Browse Beers</a></li>
      <li><a href="contact-us.html"></a></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
  <li class="active"><a href="index.html">Home</a></li>

    
      </ul>
  </div>
</nav>


